<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Hello 1</string>
		<key>image</key>
		<string>Page1</string>
		<key>body</key>
		<string>Aftertaste, affogato, macchiato cup viennese body dripper. Est dripper beans ut blue mountain variety irish. Doppio organic steamed, a bar qui white sit single shot arabica.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Hello 2</string>
		<key>image</key>
		<string>Page2</string>
		<key>body</key>
		<string>Aftertaste, affogato, macchiato cup viennese body dripper. Est dripper beans ut blue mountain variety irish. Doppio organic steamed, a bar qui white sit single shot arabica.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Hello 3</string>
		<key>image</key>
		<string>Page3</string>
		<key>body</key>
		<string>Aftertaste, affogato, macchiato cup viennese body dripper. Est dripper beans ut blue mountain variety irish. Doppio organic steamed, a bar qui white sit single shot arabica.</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Hello 4</string>
		<key>image</key>
		<string>Page4</string>
		<key>body</key>
		<string>Aftertaste, affogato, macchiato cup viennese body dripper. Est dripper beans ut blue mountain variety irish. Doppio organic steamed, a bar qui white sit single shot arabica.</string>
	</dict>
</array>
</plist>
